<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GloballyPaidPublishableApiKey" value="Your Publishable API Key"></add>
    <add key="GloballyPaidSharedSecret" value="Your Shared Secret"></add>
    <add key="GloballyPaidAppId" value="Your APP ID"></add>
    <add key="GloballyPaidUseSandbox" value="false"></add>
    <!--true if you need to test through Globally Paid sandbox-->
    <add key="GloballyPaidRequestTimeoutSeconds" value="90"></add>
  </appSettings>
</configuration>