<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GloballyPaidPublishableApiKey" value="pk_test_nDPaa1bLuFtt2N27ecyyF1vcYXA3MbGW"></add>
    <add key="GloballyPaidSharedSecret" value="aiS0wquNYeWJf1a/TTQaeZ/BkxBBZHJavRNRSk+4wgY="></add>
    <add key="GloballyPaidAppId" value="sk_test_57d35f00-6cb7-4cae-9c61-0798"></add>
    <add key="GloballyPaidUseSandbox" value="true"></add>
    <!--true if you need to test through Globally Paid sandbox-->
    <add key="GloballyPaidRequestTimeoutSeconds" value="90"></add>
  </appSettings>
</configuration>